
.card {
    width: 300px;
    height: 400px;
}

.card-img-top {
    height: 170px;
    background-size: cover;
}

.my-fs-1 {
    height: 112px;
    font-size: 0.8rem;
}

.my-fs-2 {
    font-size: 0.6rem;
    transform: translate(-10px, -12px);
}

.dot {
    display: block;
    width: 30px;
    height: 30px;
}

.box {
    width: 2030px;
}